{% extends "soma_app/base.html" %}

{% block title %}SOMA - Sobre o Projeto{% endblock %}

{% block sobre_soma_active %}active{% endblock %}

{% block content %}
    <div class="about-content">
        <h1>Sobre o SOMA</h1>
        
        <div class="project-image">
            [Espaço para Imagem Ilustrativa do Projeto]
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
{% endblock %}